<html>
	<body>
		<h1>Proyecto final DEVF</h1>

		<h3>Autor: Ramsses De Los Santos Mendoza</h3>
        <h4>He elaborado tres llamadas a servidor y son las siguientes:</h4>
		<ul>
			<li><pre>/api/confirmed   Devuelve el número de casos confirmados por país.</pre></a></li>
			<li><pre>/api/deaths      Devuelve el número de decesos por país. </pre></a></li>
			<li><pre>/api/recovered   Devuelve el número de personas recuperadas por país.</pre></a></li>
		</ul>
        <pre>La base de datos con la que trabaja esta API consta de 5 países los cuales son México, Canada, Alemania, Brazil y Francia.</pre>
        <pre>Los datos desplegados serán desde marzo de 2020 hasta enero de 2021.</pre>
	</body>
</html>